body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 1ch auto;
            font-size: 14pt;
            line-height: 1.6;
            letter-spacing: 0.12em;
            word-spacing: 0.16em;
            color: #424464;
            background-color: antiquewhite;
            max-width: 70ch;
            margin-bottom: 1em;
        }

        h2{
            border-left: 5px solid #1a1a24;
            padding-left: 0.5em;
        }

        header{
            border-bottom: 2px solid #1a1a24;
            padding-bottom: 0.5em;
        }

        footer{
            border-top: 2px solid #1a1a24;
            padding-top: 0.5em;
            margin-top: 2em;
        }
